*{
    box-sizing: border-box;
}

/* *********************Navigation_bar Section******************** */

body{
    font-family: 'raleway',sans-serif;
}
.Header{
    background-image: url('images/Layer\ 1.png');
    background-size:contain;
    background-repeat: no-repeat;
}

.navbar{
    border:1px solid;
    display:flex;
    justify-content: center;
    border-bottom:1px solid rgba(192, 192, 192, 0.322);
    padding: 10px 0 10px 0;
    box-shadow: 0px 0px 3px rgba(194, 193, 193, 0.349);
}

.nav_div{
    display:flex;
    justify-content: space-between;
    width:72%;
    padding: 10px 0 10px 0;
}


#check,#hamburger_icon{
    display:none;
}

   .horizontal_line{
        display:none;
        width:100% ;
    }

.nav_links a{
    padding-right:25px;
    text-decoration: none;
    color:white;
    font-weight:500;
    font-size:0.875rem;
}

.btn{
    padding: 15px;
    padding-right: 19px;
    padding-left:21px;
    border-radius: 8px;
    background-color: #ffc300;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    border:none;
}

.fa-phone{
    padding:1px 10px 0 0;
}

.nav_logo{
    padding-top: 7px;
}

.nav_logo img{
    width:90%;
}

#beam,#quick,#affordable_tour,.nav_links a{
    font-family: 'Raleway', sans-serif;
}

.tours{
    width:72%;
    padding-top: 9%;
}

.virtual_tours{
    display:flex;
    justify-content: center;
}

.tour_heading{
    line-height: 9px;
}

#beam{
    font-style: italic;
    font-weight:700;
    font-size: 1.5rem;
    color:white;
}

#line{
    font-family: sans-serif;
    padding-left:10px;
    position: relative;
    bottom: 10px;
    color:#ffc300;
}

#quick{
    font-size:3.438rem;
    color:white;
}

#affordable_tour{
    font-size: 4.313rem;
    font-weight: bold;
    color:white;
    width: 85%;
    line-height: 80px;
    margin-top: -8px;
}

#tour{
    color:#ffc300;
}

.tour_para{
    padding-bottom: 13px;
    margin-top: -2.5em;
}

#lorem_ipsum{
    color:white;
    font-family: 'Raleway',sans-serif;
    width: 55%;
    line-height: 27px;
    font-size:0.875rem;
}

.tour_btn{
    padding:0 25px 0 25px;
    height:7vh;
    font-weight: 800;
    width:17%;
}  

.tour_btn_div{
    padding-bottom:15%;
    /* margin-bottom:2em; */
}

/* ***********************Analytics Section******************** */

.analytics_div{
    display:flex;
    justify-content: center;
    padding-top:3%;
    padding-bottom: 5%;
}

.analytic{
    width:72%;
    display: flex;
}

.analytics_screen,.about_analytics{
    /* border:1px solid; */
}

.about_analytics{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.analytics_screen{
    width: 53%;
}

.home-screen{
    width: 30vw;
    padding-top: 10%;
}
.home-screen,#img1{
    position: relative;
    display:flex;
}

#img1{
    position: relative;
    width: 23vw;
    left: -12%;
    top: -27px;
}

#analytics_head1,.analytics_para,#analytics_head2,.service_card_heading,.service_head,.service_card_para,.feature_head,.para_1,.para_3{
    color:#023666;
}

#analytics_head1{
    font-size:3.7rem;
    font-weight: 800;
    margin-top:0px;
}

.analytics_para{
    line-height:25px;
    font-weight:600;
    font-size:14px;
    width:35vw;
}

.para1{
    margin-top: -2.5em;
}

#analytics_head2{
    font-size:1.8rem;
    font-weight:800;
}

.analytic_btn{
    width:12vw;
    font-size:0.9rem;
    font-weight:800;
}

#img2{
    width:40vw;
}

.laptop{
    position:absolute;
    left:-18%;
    top:-10%;
}

.div2{
    margin-top:-1.5em;
}

/* ************************Services div******************** */

.services{
    background-image: url('./images/Layer\ 4.png');
    background-size:cover;
    background-position: center;
    padding-bottom:10%;
}

.service_div{
    display:flex;
    justify-content: center;
}

.service{
    width:73%;
}

.heading{
    text-align: center;
    font-size:3.75rem;
}

.service_card{
    /* border:1px solid; */
    display:flex;
    justify-content: space-between;
}

.cards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:23vw;
    position:relative;
}


.details{
    /* border:1px solid; */
    width:85%;
    border-radius:15px;
    text-align: center;
    line-height:7px;
    background-color: white;
    position:absolute;
    bottom:-24%;
    padding-bottom:15px;
}

.service_img{
    width: 100%;
    height: 44vh;
}

.button{
    width:2.5vw;
    height:5vh;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    background-color:  #f95403;
    margin:auto;
}

.greater_btn{   
    width:1.5vw;
}

.service_card_heading{
    font-weight: 800;
    font-size:1rem;
}

.service_card_para{
    font-size:0.8rem;
    line-height:20px;
    font-weight:600;
}

/* **********************Feature Section******************* */

.Features{
    background-image: url('./images/tra-bg-2\ copy\ 2.png');
    background-size:101%;
    background-position:bottom;
    padding-bottom:10%;
    /* padding-top:3%; */
}

.feature_div{
    display:flex;
    justify-content: center;
}

.feature{
    width:73%;
}

.feature_div_card{
    /* border:1px solid; */
    display:flex;
    justify-content: space-between;
    height:40vh;
}

.clock,.analytic_feature,.inventory{
    /* border:1px solid; */
    width: 32%;
}

.clock,.inventory{
    background-color: white;
}

.feature_div_heading .heading{
    color:white;
}

.feature_icon_div{
    /* border:1px solid; */
    width:4.6vw;
    height:10vh;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.clock_icon_div,.inventory_icon_div,.analytic_feature{
    background-color: #f95403;
}

.analytic_icon_div{
    background-color: white;
}

.analytic_feature_head{
    color:white;
}

.feature_head,.analytic_feature_head{
    font-size:1.1rem;
}

#clock{
    width:2.5vw;
}

#analytic{
    width:2vw;
}

#inventory{
    width:2vw;
}

.feature_card{
    text-align: center;
    padding-top:20px;
}

.para_2,.about_analytic_div a{
    color:white;
}
.feature_para,.anchor{
    font-size:13.5px;
    font-weight: 500;
    width:90%;
    margin:auto;
    line-height: 23px;
}

.anchor1,.anchor2{
    text-decoration: none;
    line-height: 3.5vw;
}

.anchor3{
    text-decoration: none;
    line-height:6.5vw;
}

.anchor1,.anchor3{
    color:#f95403;
    font-weight:700;
}

/* *****************Pricing section****************** */

.pricing_div,.rates{
    display:flex;
    justify-content: center;
}

.pricing_div{
    padding-bottom:1%;
    line-height: 1%;
}

.pricing_heading{
    padding-bottom:3.5%;
}
.price_plan{
    width:73%;
    padding-bottom: 4%;
}

.rates,.real_estate,.interior_design{
    /* border:1px solid; */
}

.rates{
    text-align: center;
    height:90vh;
}

.rate_card{
    width:50%;
    font-size: 15px;
    line-height: 34px;
}

.price_btn{
    width:35%;
    height:7vh;
    font-size:16px;
    font-weight:700;
    border-radius:5px;
    border:none;
}

.real_estate{
    background-color: #ffc300;
    padding-top:10px;
}

.interior_design{
    position:relative;
    padding-top:10px;
    box-shadow: 5px 5px 5px rgb(170, 170, 170);
    background-color: white;
}

.btn1{
    margin:4em;
    background-color: white;
}

.btn2{
    /* margin:2em 3em; */
    background-color: #ffc300;
}

.price_head{
    font-size:2rem;
    color:#023666;
    font-weight:800;
    /* line-height:0; */
}

.price_para{
    font-weight:800;
    font-size:16px;
    color:#023666;
}

.interior_design_ellipse{
    position:absolute;
    z-index:-1;
    color:#023666;
}

.interior_design_para,.virtual_tour_para{
    color:#023666;
}

.per_month_heading{
    font-weight: 700 !important;
}

.interior_design{
    position:relative;
}

.relative{
    position: relative;
}
.pricing_ellipse{
    position: absolute;
    z-index: 0;
    top: -56px;
    right: -3rem;
}

/* ***********************Use Cases Section******************* */

.Use_cases_div{
    display:flex;
    justify-content: center;
    background-image: url('./images/260164\ \(1\).png');
    background-position: 100%;
}

.case_div{
    width:73%;
    /* border:1px solid; */
    padding-bottom:5%;
}

.case_card1,.case_card2{
    width:50%;
}

.case_card2{
    /* margin-right:-20px; */
    padding-top: 3%;
}

.cases_cards{
    display:flex;
    justify-content: space-evenly;
}
.case_heading h1{
    color: #023666;
}

.real_estate_card_img{
    padding-top: 15%;
}

.interior_design_card{
    padding-top: 6%;
}

#real_estate_parent,#interior_parent{
    width:88%;
}

.interior_design_card_img,.real_estate_card_img{
    text-align: center;
    position:relative
}

/* #interior_parent,#real_estate_parent{
    position:relative;
} */

#real_estate_parent{
    height:40vh;
}

#interior_design_card_head,#real_estate_card_head{
    padding-left:27px;
}

.cases_list li{
    font-size:13px;
    line-height: 25px;
    color:#023666;
    font-weight:600;
}

.cards_heading{
    font-size:2vw;
    color:#023666;
    font-weight: 800;
}

.triangle{
    width: 14%;
    position:absolute;
    z-index: 2;
}

.triangle_1{
    left:3%;
    top:18.5%;
    z-index: -1;
}

.triangle_2{
    right:3.5%;
    bottom:-3%;
    z-index: -1;
}

.triangle_3{
    z-index:-1;
    left:3.5%;
    top:-4.5%;
}

.triangle_4{
    bottom:-3%;
    right:3.5%;
    z-index:-1;
}

/* *******************Example Section****************** */

.Example{
    background-image: url('./images/Layer\ 27.png');
    background-color:#f95403;
    background-size:100%;
    padding-bottom:6%;

}

.example_div{
    display:flex;
    justify-content: center;
}

.example{
    /* border:1px solid; */
    width:73%;
}

.example_card{
    display:flex;
    justify-content: space-between;
}

.example_card img{
    width:95%;
}

.example_heading{
    color:white;
}

.example_div_cards{
    position:relative;
}

.lorem_ipsum_example{
    position:absolute;
    bottom:0px;
    padding:20px;
}

.example_card h4,p{
    color:white;
}

.example_para{
    font-size:13px;
}


/* ******************Testimonial Section****************** */

.Testimonials{
    background-color: #f4f4f4;
    padding-top:1%;
}

.testimonial_div{
    display:flex;
    justify-content: center;
}

.client_testimonial{
    width:73%;
}

.testimonial_card{
    display:flex;
    justify-content: space-between;
    padding-top:5%;
    padding-bottom:6%;
}

.testimonial_div_cards{
    /* border:1px solid; */
    padding:3%;
    padding-top:4%;
    border-radius:12%;
    width:32%;
    position:relative;
    background-color: white;
}

.bruce_hardy{
    text-align: center;
}

.testimonial_div_cards h3,.testimonial_heading{
    color:#023666; 
}

.bruce_hardy_heading{
    font-weight:900;
}

.testimonial_para{
    font-size:13px;
    line-height: 20px;
    font-weight: 600;
    color:#023666;
}

.five_star_ratings{
    width:5vw;
}

.bruce_hardy_img{
    position:absolute;
    border-radius:50%;
    width:6vw;
    top:-18%;
    left:35%;
    z-index:1;
}

/* ********************Content Section******************* */

.Content{
    display:flex;
}

.gallery{
    width:100%;
}

.client_videos{
    background-image: url('./images/try1.png');
    background-position: center;
    padding-bottom:4%;
    width:100%;
    /* border:1px solid; */
}

.gallery{
    background-color: #ffc300;
    padding-bottom:4%;
    width:100%;
    /* border:1px solid; */
}

.client_videos_div_img{
    width:100%;
    text-align: right;
    padding-top:2%;
    position:relative;
}

.client_videos_div_head{
    display: flex;
    justify-content: center;
}

.client_videos_div_img img{
    width:67%;
    margin-right:7%;
}

.client_videos_heading,.gallery_div_head h2{
    width:50%;
    font-size: 42px;
    color:white;
    font-weight: 800;
}

.gallery_div_head h2{
    padding-left:6%;
    color:#023666;
}

.gallery_div_img{
    padding-left: 7%;
    display:flex;
    flex-direction: column;
    position:relative;
}

.rows{
    display:flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-top: 3%;
    margin-left: -5%;
}


.house_images{
    height:22vh;
    width:32%;
    margin-left:5%;
}

.client_div_button{
    background-color: white;
    height:5.3vh;
    /* z-index:1; */
    position: absolute;
}

.button1{
    right:5%;
    bottom:45%;
}

.button2{
    left:23%;
    top:45%;
}

.button3{
    background-color: rgba(255, 255, 255, 0);
    width:4vw;
    right:50%;
    top: 50%;
    left:55%;
    bottom:50%;
}

.gallery_div_row1{
    position:relative;
}

.gallery_ellipse{
    position:absolute;
    top:-20%;
    right:10%;
    width:25%;
}

/* **********************Contact Us***************** */

.contact_div{
    display:flex;
    justify-content: center;
    background-color: #f0f7ff;
    padding-bottom:3%;
}

.contact_us{
    /* border:1px solid; */
    width:74%;
}

.contact_form_and_icons,.name_and_email_div{
    display:flex;
}

.name_and_email_div{
    justify-content: space-between;
}

.name_and_email_input{
    width:21vw;
    height:9vh;
    border:none;
    padding-left:3%;
}

.contact_input{
    width:100%;
    height:9vh;
    border:none;
    padding-left:3%;
}

.input3{
    height:18vh;
}

.contact_form{
    /* border:1px solid; */
    width:83vw;
}

.contact_divs{
    padding-bottom:4%;
}

.contact_button button{
    width:10vw;
    height:7vh;
    border-radius: 5px;
    border:none;
    background-color:#f95403;
    color:white;
    font-weight: 500;
}

.contact_icons{
    /* border:1px solid; */
    padding-left:4%;
}

.icon_row1,.icon_row2,.icon_row3{
    display:flex;
}

.icon_row3,.icon_row2{
    padding-top:10%;
}

.contact_icon_buttons{
    width:18%;
    height:9vh;
    border-radius: 5px;
    border: none;
    background-color: #f95403;
}

.location_button{
    width:35%;
}

.about{
    padding-left: 3%;
    margin-top:-10px;
    line-height: 20px;
}

.contact_icon_heading{
    font-weight: 800;
}

.contact_icon_heading,.contact_icon_para{
    color:#023666;
}

.contact_icon_para{
    font-size:13px;
    font-weight: 600;
}

.contact_input{
    padding-top:2%;
}

/* ***********************Footer1 Section***************** */
.Footer{
    background-image: url('./images/service-bg-01.png');
    background-position: center;
}

.footer1{
    background-color: #f95403;
    display:flex;
    justify-content: center;
    padding:2%;
}

.footer1_content_div{
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer1_content{
    display:flex;
    justify-content:space-between;
    width:60%;
}

.empty_div{
    width:3vw;
    border:1px solid white;
    margin-right:5px;
}

.footer1_para{
    font-size:13px;
}

/* **********************Footer2 Section ******************/

.footer2{
    display:flex;
    justify-content: center;
    background-color: black;
    padding:2%;
}

.footer2_content{
    display:flex;
    width:75%;
}

.footer2_buttons{
    display:flex;
    flex-direction: row;
    justify-content: right;
    padding-right:14%;
}

.footer2_content_para{
    font-size:14px;
}

.footer2_share_button{
    width:3vw;
    height:6vh;
    border-radius:10px;
    border:none;
    margin-left:10px;
}

.linkedin_icon img{
    width:20px;
    border-radius: 5px;
}

.fb_icon img{
    width:8px;
}

.insta_icon img{
    width:18px;
}

/* **********************Media Query*********************** */

@media only screen and (min-device-width: 300px) and (max-device-width: 480px){
    .Header{
        background-size: 100% 50vh;;
    }
    
    .navbar{
        display:flex;
        justify-content: left;
    }

    .nav_div{
        width:100%;
    }
    .nav_logo{
        width: 44%;
        padding-left: 6px;
        padding-top:2px    
    }

    .nav_logo img{
        width:90%;
    }
    .nav_links{
        display:none;
    }

    .checkbox{
        padding-right: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hamburger_icon{
        display:block;
        font-size: 27px;
        color: whitesmoke;
    }

    #check:checked ~ .nav_links{
        display:block;
        display:flex;
        flex-direction: column;
        position: absolute;
        top: 7%;
        right: 2%;
        z-index: 1;
        background-color: #f4f4f4;
        width: 90%;
        height: 43.9%;
    }

    #check:checked ~ .nav_links a{
        padding: 6.5%;
        color:black;
        font-weight: 700;
    }

    #check:checked ~ .nav_links .horizontal_line{
        display:block;
    }

    .nav_btn{
        display: none;
    }

    #beam{
        font-size: 1rem;
    }

    #quick{
        font-size: 2rem;    
    }

    #lorem_ipsum{
        line-height: 27px;
        font-size: 0.8rem;
        width:90%;
        margin:auto;
    }
    
    .virtual_tours{
        text-align: center;
    }

    #affordable_tour{
        font-size:1.5rem;;
        line-height: 44px;
        margin-top: -8px;
        width:100%;
    }

    .tours{
        width: 100%;
        padding-top:4%;
    }

    .tour_btn{
        font-size:9px;
        padding:0;
        height: 4vh;
        font-weight: 800;
        width: 32%;
    }

    .tour_para{
        margin-top:0;
    }

    /* ************Analytic Section************ */

    .analytic{
        width:100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .analytics_screen {
        width: 100%;
    }

    .laptop {
        left: -7px;
    }

    #img2{
        width:100vw;
    }

    #img1{
        width: 50%;
        top: 12px;
        left: 21px;
    }

    .home-screen{
        display:block;
        width:100%;
    }

    .about_analytics{
        width:100%;
        justify-content: center;
        text-align: center;
        padding-top:10%;
        padding-bottom:5%;
    }

    #analytics_head1{
        font-size:9vw;
    }

    .analytics_para{
        font-size: 13px;
        width: 100%;
    }

    .div1{
        line-height: 60px;
    }

    .div2{
        line-height: 15px;
        margin-top:0 !important;
    }

    .analytic_btn{
        margin:auto;
        width:30vw; 
    }

    .heading{
        font-size: 9vw;
        font-weight: 800;
    }

    /* *******************Services******************* */

    .service {
        width: 100%;
    }

    .service_card{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        width:88%;
        margin-bottom:12%;
    }

    .service_img {
        width: 100%;
        height: 33vh;
        padding-bottom: 9%;
    }

    .button{
        width: 4.5vw;
        height: 2vh;
    }

    .details{
        line-height: 4px;
        bottom: -9%;
    }

    /* *****************Features********************* */

    .Features{
        background-size: auto 114vh;
    }

    .feature {
        width: 100%;
    }

    .feature_div{
        padding-bottom: 25%;
    }

    .feature_div_card {
        flex-direction: column;
        align-items: center;
        height:59vh;
        justify-content: flex-start;
    }

    .feature_card{
        width: 78%;
        padding: 8px;
        margin-bottom: 5%;
    }

    .feature_icon_div {
        width: 8.5vw;
        height: 4vh;
    }

    .feature_head,.analytic_feature_head{
        font-size:4vw ;
    }

    .feature_para, .anchor {
        font-size: 12.5px;
        margin-top: -12px;
        padding-bottom:5%;
    }

    #clock {
        width: 4.5vw;
    }

    #analytic {
        width: 3.5vw;
    }

    #inventory {
        width: 3.5vw;
    }

    /* *****************Pricing Section******************** */

    .pricing_ellipse{
        display: none;
    }

    .price_plan {
        width: 100%;
    }

    .rates{
        flex-direction: column;
        height:auto;
    }

    .rate_card{
        width: 100%;
    }

    .pricing_heading {
        padding-bottom: 6.5%;
        margin-top: -2.5em;
        color:#023666;
    }

    .price_btn{
        margin-bottom: 2em !important;
        height:5vh;
        margin:0;
    }

    .interior_design_para {
        margin-bottom:5%;
        margin-top:-3%;
    }

    .price_head{
        margin-top:-2%;
    }

    .virtual_tour_para{
        margin-top:-2%;
    }

    .interior_design{
        padding-bottom:1%;
    }

    /* ***************Cases Section**************** */
    
    .case_div {
        width: 100%;
    }

    .cases_cards{
        flex-direction: column-reverse;
        align-items: center;
    }

    .case_card1, .case_card2 {
        width: 100%;
    }

    .case_card1{
        display: flex;
        flex-direction: column-reverse;
    }

    #real_estate_parent {
        height: 23vh;
    }

    #interior_design_card_head, #real_estate_card_head {
        font-size:18px;
    }

    .interior_design_card {
        padding-top: 0%;
    }

    .real_estate_card_img {
        padding-top: 10%;
    }

    .triangle_1 {
        top: 11.5%;
    }

    /* *********************Example Section*************** */

    .example_card{
        flex-direction: column;
    }

    .lorem_ipsum_example {
        padding: 11px;
    }

    .example {
        width: 80%;
    }

    .example_div{
        text-align: center;
    }

    .example_para {
        margin-top:-3vw;
    }

    .example_div_cards{
        margin-bottom:5vw;
    }

    /* *****************Testimonial Section*************** */

    .client_testimonial {
        width: 100%;
    }

    .testimonial_card {
        flex-direction: column;
        align-items: center;
    }

    .testimonial_div_cards {
        width:80%;
        padding-top: 12%;
        margin-bottom:17%;
    }

    .bruce_hardy_img {
        width: 27%;
    }

    .bruce_hardy{
        line-height: 12px;
        padding-bottom: 4%;
    }

    .five_star_ratings {
        width: 20%;
    }

    .testimonia_head{
        padding: 6%;
    }

    /* *******************Content Section***************** */

    .Content {
        flex-direction: column;
    }

    .client_videos_heading, .gallery_div_head h2 {
        width: 100%;
        font-size: 32px;
    }

    .client_videos,.gallery{
        padding-bottom: 6%;
    }

    .client_videos_div_head {
        text-align:center;
    }

    .client_img{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .client_videos_div_img img {
        width: 67%;
        margin-right:0%;
    }

    .button {
        width: 6vw;
        height: 2.8vh;
    }

    .button1 {
        right: 13%;
        top: 48%;
    }

    .button2 {
        left: 13%;
    }

    .button3{
        width: 8vw;
        left:47%;
        right:50%;
        top:52%;
    }

    .gallery_div_head h2{
        text-align: center;
        font-weight: 900;
    }

    .gallery_div_img{
        width:90%;
        padding-left:10%;
    }

    .house_images {
        height: 10vh;
        width: 45%;
    }

    .gallery_ellipse {
        top: -14%;
        right: -10%;
    }

    /* ***************Contact Us Section**************** */

    .contact_us {
        width: 100%;
    }

    .contact_form_and_icons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name_and_email_input {
        width: 40vw;
        height: 5vh;
    }

    .contact_input {
        height: 5vh;
        padding-top:0;
    }

    .input3{
        height:10vh;
        padding-top:2%;
    }

    .contact_button{
        text-align: center;
    }

    .contact_button button {
        width: 26vw;
        height: 4vh;
    }

    .contact_icons {
        padding-top:7%;
    }

    .contact_icon_buttons {
        width: 13%;
        height: 5vh;
    }

    .location_button{
        width:21%;
    }

    .contact_no,.website_info{
        line-height: 13px;
    }

    .contact_icon_heading{
        margin-bottom:-2%;
    }
    
    .location_info{
        margin-top: -21px;
    }

    .footer1_content {
        width: 96%;
    }

    .footer1_para {
        font-size: 10px;
    }

    .footer2_content {
        width: 96%;
    }

    .footer2_share_button {
        width: 4.5vw;
        height: 2vh;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4%;
    }

    .footer2_content_para {
        font-size: 10px;
    }

    .fb_icon img {
        width: 7px;
    }

    .insta_icon img {
        width: 13px;
    }

    .linkedin_icon img {
        width: 15px;
    }

    .footer2_buttons{
        padding-right: 1%;
    }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 480px){

    .navbar{
        display:flex;
        justify-content: left;
    }

    .nav_div{
        width:100%;
    }
    .nav_logo{
        width: 44%;
        padding-left: 6px;
        padding-top:2px    
    }

    .nav_logo img{
        width:90%;
    }
    .nav_links{
        display:none;
    }

    .checkbox{
        padding-right: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hamburger_icon{
        display:block;
        font-size: 27px;
        color: whitesmoke;
    }

    #check:checked ~ .nav_links{
        display:block;
        display:flex;
        flex-direction: column;
        position: absolute;
        top: 7%;
        right: 2%;
        z-index: 1;
        background-color: #f4f4f4;
        width: 90%;
        height: calc(43.9%);
    }

    #check:checked ~ .nav_links a{
        padding: 6.5%;
        color:black;
        font-weight: 700;
    }

    #check:checked ~ .nav_links .horizontal_line{
        display:block;
    }

    .nav_btn{
        display: none;
    }

    #beam{
        font-size: 1rem;
    }

    #quick{
        font-size: 2rem;    
    }

    #lorem_ipsum{
        line-height: 27px;
        font-size: 0.8rem;
        width:90%;
        margin:auto;
    }
    
    .virtual_tours{
        text-align: center;
    }

    #affordable_tour{
        font-size:1.5rem;;
        line-height: 44px;
        margin-top: -8px;
        width:100%;
    }

    .tours{
        width: 100%;
        padding-top:4%;
    }

    .tour_btn{
        font-size:9px;
        padding:0;
        height: 4vh;
        font-weight: 800;
        width: 32%;
    }

    .tour_para{
        margin-top:0;
    }

    /* ************Analytic Section************ */

    .analytic{
        width:100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .analytics_screen {
        width: 100%;
    }

    .laptop {
        left: -7px;
    }

    #img2{
        width:100vw;
    }

    #img1{
        width: 50%;
        top: 12px;
        left: 21px;
    }

    .home-screen{
        display:block;
        width:100%;
    }

    .about_analytics{
        width:100%;
        justify-content: center;
        text-align: center;
        padding-top:10%;
        padding-bottom:5%;
    }

    #analytics_head1{
        font-size:9vw;
    }

    .analytics_para{
        font-size: 13px;
        width: 100%;
    }

    .div1{
        line-height: 60px;
    }

    .div2{
        line-height: 15px;
        margin-top:0 !important;
    }

    .analytic_btn{
        margin:auto;
        width:30vw; 
    }

    .heading{
        font-size: 9vw;
        font-weight: 800;
    }

    /* *******************Services******************* */

    .service {
        width: 100%;
    }

    .service_card{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        width:88%;
        margin-bottom:12%;
    }

    .service_img {
        width: 100%;
        height: 33vh;
        padding-bottom: 9%;
    }

    .button{
        width: 4.5vw;
        height: 2vh;
    }

    .details{
        line-height: 4px;
        bottom: -9%;
    }

    /* *****************Features********************* */

    .Features{
        background-size: auto 114vh;
    }

    .feature {
        width: 100%;
    }

    .feature_div{
        padding-bottom: 25%;
    }

    .feature_div_card {
        flex-direction: column;
        align-items: center;
        height:59vh;
        justify-content: flex-start;
    }

    .feature_card{
        width: 78%;
        padding: 8px;
        margin-bottom: 5%;
    }

    .feature_icon_div {
        width: 8.5vw;
        height: 4vh;
    }

    .feature_head,.analytic_feature_head{
        font-size:4vw ;
    }

    .feature_para, .anchor {
        font-size: 12.5px;
        margin-top: -12px;
        padding-bottom:5%;
    }

    #clock {
        width: 4.5vw;
    }

    #analytic {
        width: 3.5vw;
    }

    #inventory {
        width: 3.5vw;
    }

    /* *****************Pricing Section******************** */

    .pricing_ellipse{
        display: none;
    }

    .price_plan {
        width: 100%;
    }

    .rates{
        flex-direction: column;
        height:auto;
    }

    .rate_card{
        width: 100%;
    }

    .pricing_heading {
        padding-bottom: 6.5%;
        margin-top: -2.5em;
        color:#023666;
    }

    .price_btn{
        margin-bottom: 2em !important;
        height:5vh;
        margin:0;
    }

    .interior_design_para {
        margin-bottom:5%;
        margin-top:-3%;
    }

    .price_head{
        margin-top:-2%;
    }

    .virtual_tour_para{
        margin-top:-2%;
    }

    .interior_design{
        padding-bottom:1%;
    }

    /* ***************Cases Section**************** */
    
    .case_div {
        width: 100%;
    }

    .cases_cards{
        flex-direction: column-reverse;
        align-items: center;
    }

    .case_card1, .case_card2 {
        width: 100%;
    }

    .case_card1{
        display: flex;
        flex-direction: column-reverse;
    }

    #real_estate_parent {
        height: 23vh;
    }

    #interior_design_card_head, #real_estate_card_head {
        font-size:18px;
    }

    .interior_design_card {
        padding-top: 0%;
    }

    .real_estate_card_img {
        padding-top: 10%;
    }

    .triangle_1 {
        top: 11.5%;
    }

    /* *********************Example Section*************** */

    .example_card{
        flex-direction: column;
    }

    .lorem_ipsum_example {
        padding: 11px;
    }

    .example {
        width: 80%;
    }

    .example_div{
        text-align: center;
    }

    .example_para {
        margin-top:-3vw;
    }

    .example_div_cards{
        margin-bottom:5vw;
    }

    /* *****************Testimonial Section*************** */

    .client_testimonial {
        width: 100%;
    }

    .testimonial_card {
        flex-direction: column;
        align-items: center;
    }

    .testimonial_div_cards {
        width:80%;
        padding-top: 12%;
        margin-bottom:17%;
    }

    .bruce_hardy_img {
        width: 27%;
    }

    .bruce_hardy{
        line-height: 12px;
        padding-bottom: 4%;
    }

    .five_star_ratings {
        width: 20%;
    }

    .testimonia_head{
        padding: 6%;
    }

    /* *******************Content Section***************** */

    .Content {
        flex-direction: column;
    }

    .client_videos_heading, .gallery_div_head h2 {
        width: 100%;
        font-size: 32px;
    }

    .client_videos,.gallery{
        padding-bottom: 6%;
    }

    .client_videos_div_head {
        text-align:center;
    }

    .client_img{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .client_videos_div_img img {
        width: 67%;
        margin-right:0%;
    }

    .button {
        width: 6vw;
        height: 2.8vh;
    }

    .button1 {
        right: 13%;
        top: 48%;
    }

    .button2 {
        left: 13%;
    }

    .button3{
        width: 8vw;
        left:47%;
        right:50%;
        top:52%;
    }

    .gallery_div_head h2{
        text-align: center;
        font-weight: 900;
    }

    .gallery_div_img{
        width:90%;
        padding-left:10%;
    }

    .house_images {
        height: 10vh;
        width: 45%;
    }

    .gallery_ellipse {
        top: -14%;
        right: -10%;
    }

    /* ***************Contact Us Section**************** */

    .contact_us {
        width: 100%;
    }

    .contact_form_and_icons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name_and_email_input {
        width: 40vw;
        height: 5vh;
    }

    .contact_input {
        height: 5vh;
        padding-top:0;
    }

    .input3{
        height:10vh;
        padding-top:2%;
    }

    .contact_button{
        text-align: center;
    }

    .contact_button button {
        width: 26vw;
        height: 4vh;
    }

    .contact_icons {
        padding-top:7%;
    }

    .contact_icon_buttons {
        width: 13%;
        height: 5vh;
    }

    .location_button{
        width:21%;
    }

    .contact_no,.website_info{
        line-height: 13px;
    }

    .contact_icon_heading{
        margin-bottom:-2%;
    }
    
    .location_info{
        margin-top: -21px;
    }

    .footer1_content {
        width: 96%;
    }

    .footer1_para {
        font-size: 10px;
    }

    .footer2_content {
        width: 96%;
    }

    .footer2_share_button {
        width: 4.5vw;
        height: 2vh;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4%;
    }

    .footer2_content_para {
        font-size: 10px;
    }

    .fb_icon img {
        width: 7px;
    }

    .insta_icon img {
        width: 13px;
    }

    .linkedin_icon img {
        width: 15px;
    }

    .footer2_buttons{
        padding-right: 1%;
    }
}

@media only screen and (min-device-width:300px) and (max-device-width:390px){
    .Header {
        background-size: 100% 67vh;
    }

    .tour_btn {
        height: 4.5vh;
        width: 28%;
    }

    .analytic_btn {
        width: 31vw;
    }

    .Features {
        background-size: auto 135vh;
    }

    .feature_div {
        padding-bottom: 44%;
    }

    .footer2_share_button {
        width: 3.5vw;
        height: 2vh;
        border-radius: 4px;
    }

    .footer1_para,.footer2_content_para {
        font-size: 8px;
    } 

    .insta_icon img {
        width: 10px;
    }

    .fb_icon img {
        width: 5px;
    }

    .linkedin_icon img {
        width: 11px;
    }

    .contact_icon_buttons {
        width: 14%;
        height: 7vh;
    }
    .location_button {
        width: 26%;
    }

    .contact_icon_para {
        font-size: 11px;
    }

    #check:checked ~ .nav_links {
        top: 12%;
        height: 56.2%;
    }

    .details {
        line-height: 4px;
        bottom: -14%;
    }

    .button {
        width: 6vw;
        height: 3.5vh;
    }

    .location_info{
        line-height: 16px;
    }

    .btn1,.btn2{
        font-size:13px;
    }
}