/* **************************Animations & Transitions ******************** */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.feature_card:hover{
    box-shadow: 5px 5px 10px rgb(24, 10, 46);
    transform: scale(1.3);
    transition: 0.5s;
    cursor:pointer; 
}

.real_estate:hover,.interior_design:hover{
    transform: scale(1.1);
    transition:0.5s;
    position:relative;
    z-index:1;
    background-color: #ffc300;
    cursor:pointer; 
}

.real_estate:hover button,.interior_design:hover button{
    background-color: white;
    cursor:pointer; 
}

.example_div_cards:hover{
    transform: scale(1.1);
    transition:0.5s;
    cursor:pointer; 
}

.real_estate_card_img:hover .triangle_1,.interior_design_card_img:hover .triangle_3{
    bottom: -2%;
    transform: rotate(270deg);
    top:auto;
    cursor:pointer; 
}

.real_estate_card_img:hover .triangle_2{
    top: 18.5%;
    transform: rotate(270deg);
    right: 3.5%;
    bottom:auto;
    cursor:pointer; 
}

.interior_design_card_img:hover .triangle_4{
    top: -4%;
    transform: rotate(270deg);
    right: 3.5%;
    cursor:pointer; 
}

.bruce_hardy_img:hover{
    scale:300%;
    transition:0.5s;
    position:relative;
    z-index: 2;
    cursor:pointer; 
}

.testimonial_div_cards:hover{
    box-shadow:2px 2px 8px rgb(177, 177, 177);
    cursor:pointer; 
}

.anchor_tag{
    position:relative;
}

.anchor_tag::after{
    content:"";
    position:absolute;
    background-color: #ffc300;
    height:3px;
    width:0;
    left:0;
    bottom:-10px;
    transition:0.3s;
}

.anchor_tag:hover{
    font-size: 1rem;
    cursor:pointer; 
}

.anchor_tag:hover::after{
    width:70%;
    cursor:pointer; 
}

.house_images:hover,#client_img:hover{
    transform: scale(1.3);
    transition: 0.5s;
    border:2px solid #023666;
    border-radius: 10px;
    position:relative;
    z-index:99;
    opacity:1;
    cursor:pointer; 
}

#client_img:hover{
    translate:-15%;
    background-color: black;
    cursor:pointer; 
}

.client_videos_div_img:hover .client_div_button{
    display:none;
    cursor:pointer; 
}

.common_btn:hover{
    box-shadow:2px 2px 3px rgb(32, 32, 32);
    scale:105%;
    transition:0.2s;
    cursor:pointer; 
}

.contact_icon_para:hover{
    color:#f95403;
    cursor:pointer; 
}

.contact_form input:hover,.contact_form textarea:hover{
    box-shadow: 0px 2px 3px black;
    cursor:pointer; 
}

.footer1_para:hover{
    color:black;
    font-weight: 800;
}
.footer2_content_para:hover{
    color:#f95403;
}


